
@model IEnumerable<Portfolio.Core.Domain.Klubid>

<table>
    <thead>
        <tr>
            <th class="time"></th>
            <th class="aright" data-type="html">Koduvõistkond</th>
            <th data-type="html">VS</th>
            <th class="aleft" data-type="html">Külalisvõistkond</th>
            <th data-type="html"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>  <p>@item.date</p></td>
                <td> <img src="@item.teamleft" width="50px"> </td>
                <td> <p>@item.score</p></td>
                <td><img src="@item.teamright" width="50px"> </td>
            </tr>
        }
    </tbody>

</table>