<div class="container">

    <div class="row">

        <div class="col-12 ">
            <h1>PÕHJA-TALLINNA JALGPALLIKLUBI MTÜ</h1>
            <h2>Postiaadress: Sõle 40, 10317 TALLINN</h2>
            <h2>E-mail: info@jkvolta.ee</h2>
        </div>

        <div class="col-12 d-flex justify-content-center">
            <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
                <!-- Card-->
                <div class="card shadow-sm border-0 rounded">
                    <div class="card-body p-0">
                        <img src="https://jalgpall.ee/voistlused/content/news/original/01/78/17840.1ea68e7315edd576b0197e9bbea1928c" alt="" class="w-100 card-img-top">
                        <div class="p-4">
                            <h5 class="mb-0">
                                Raimo Nõu
                            </h5>
                            <hr>
                            <p class="small text-muted">raimo@jkvolta.ee</p>
                            <p class="small text-muted">Juhatuse Esimees</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 d-flex justify-content-center h-60">
        <div class="col-lg-3 col-md-3 mb-4 mb-lg-0">
            <!-- Card-->
            <div class="card shadow-sm border-0 rounded">
                <div class="card-body p-0">
                    <img src="https://jkvolta.ee/wp-content/uploads/2021/01/IMG_7900-scaled.jpg" alt="" class="w-100 card-img-top">
                    <div class="p-4">
                        <h5 class="mb-0">
                            Allan Soomets
                        </h5>
                        <hr>
                        <p class="small text-muted">artur@jkvolta.ee</p>
                        <p class="small text-muted">Meeskonnatreener</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-1 mb-4 mb-lg-0">
            <!-- Card-->
            <div class="card shadow-sm border-0 rounded">
                <div class="card-body p-0">
                    <img src="https://jkvolta.ee/wp-content/uploads/2021/01/IMG_7823-scaled.jpg" alt="" class="w-100 card-img-top">
                    <div class="p-4">
                        <h5 class="mb-0">Urmas Hepner</h5>
                        <hr>

                        <p class="small text-muted">vahur@jkvolta.ee</p>
                        <p class="small text-muted">Noortetreener</p>

                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-1 mb-4 mb-lg-0">
            <!-- Card-->
            <div class="card shadow-sm border-0 rounded">
                <div class="card-body p-0">
                    <img src="https://jkvolta.ee/wp-content/uploads/2021/01/IMG_7806-Edit-scaled.jpg" alt="" class="w-100 card-img-top">
                    <div class="p-4">
                        <h5 class="mb-0">Vadim Kelmi</h5>
                        <hr>

                        <p class="small text-muted">edvin@jkvolta.ee</p>
                        <p class="small text-muted">Noortetreener</p>

                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="col-12 d-flex justify-content-center h-60">
        <div class="col-lg-3 col-md-1 mb-4 mb-lg-0">
            <!-- Card-->
            <div class="card shadow-sm border-0 rounded">
                <div class="card-body p-0">
                    <img src="https://jkvolta.ee/wp-content/uploads/2021/11/IMG_6678-scaled.jpg" alt="" class="w-100 card-img-top">
                    <div class="p-4">
                        <h5 class="mb-0">
                            Arthur Vladõtšenko
                        </h5>

                        <p class="small text-muted">artur@jkvolta.ee</p>
                        <p class="small text-muted">Noortetreener</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-1 mb-4 mb-lg-0">
            <!-- Card-->
            <div class="card shadow-sm border-0 rounded">
                <div class="card-body p-0">
                    <img src="https://jkvolta.ee/wp-content/uploads/2021/08/IMG_6602-scaled.jpg" alt="" class="w-100 card-img-top">
                    <div class="p-4">
                        <h5 class="mb-0">Vahur Kiis</h5>
                        <p class="small text-muted">vahur@jkvolta.ee</p>
                        <p class="small text-muted">Noortetreener</p>

                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-1 mb-4 mb-lg-0">
            <!-- Card-->
            <div class="card shadow-sm border-0 rounded">
                <div class="card-body p-0">
                    <img src="https://jkvolta.ee/wp-content/uploads/2021/08/IMG_6686-scaled.jpg" alt="" class="w-100 card-img-top">
                    <div class="p-4">
                        <h5 class="mb-0">Edvin Pašun</h5>
                        <p class="small text-muted">edvin@jkvolta.ee</p>
                        <p class="small text-muted">Noortetreener</p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    </div>
</div>