@model IEnumerable<Portfolio.Core.Domain.Post>

  <link rel="stylesheet" href="~/css/blog.css" asp-append-version="true" />


@{
    ViewBag.Title = "JK Volta";
    ViewBag.Description = "Särtsu täis jalgpalli klubi";
    ViewBag.Keywords = "jalgpall, sport, noored";
}

<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <ul class="list-inline">
            <li class="list-inline-item"><a asp-controller="Home" asp-action="Blog">Kõik</a></li>
            <li class="list-inline-item"><a asp-controller="Home" asp-action="Blog" asp-route-category="Esindus">Esindus</a></li>
            <li class="list-inline-item"><a asp-controller="Home" asp-action="Blog" asp-route-category="Noored">Noored</a></li>
            <li class="list-inline-item"><a asp-controller="Home" asp-action="Blog" asp-route-category="Fännid">Fännid</a></li>
        </ul>
       


        <div class="col-md-10 col-lg-8 col-xl-7">
            <!-- Post preview-->
               @foreach (var post in Model)
            {
            <div class="post-preview">
                    <a asp-controller="Home" asp-action="Post" asp-route-id="@post.Id">
                    <h2 class="post-title">@post.Title</h2>
                    <h3 class="post-subtitle">Problems look mighty small from 150 miles up</h3>
                        @if (!String.IsNullOrEmpty(post.Image))
                        {
                            var image_path = $"/Image/{post.Image}";
                            <img width="100" class="card-img-top" src="@image_path" />
                        }
                </a>
                <p class="post-meta">
                    September 24, 2022
                </p>
            </div>
            <!-- Divider-->
            <hr class="my-4" />
            }
            <!-- Post preview-->
          

            <div class="post-preview">
                <a href="post.html"><h2 class="post-title">I believe every human has a finite number of heartbeats. I don't intend to waste any of mine.</h2></a>
                <p class="post-meta">
                    Posted by
                    <a href="#!">Start Bootstrap</a>
                    on September 18, 2022
                </p>
            </div>
            <!-- Divider-->
            <hr class="my-4" />
            <!-- Post preview-->
            <div class="post-preview">
                <a href="post.html">
                    <h2 class="post-title">Science has not yet mastered prophecy</h2>
                    <h3 class="post-subtitle">We predict too much for the next year and yet far too little for the next ten.</h3>
                </a>
                <p class="post-meta">
                    Posted by
                    <a href="#!">Start Bootstrap</a>
                    on August 24, 2022
                </p>
            </div>
            <!-- Divider-->
            <hr class="my-4" />
            <!-- Post preview-->
            <div class="post-preview">
                <a href="post.html">
                    <h2 class="post-title">Failure is not an option</h2>
                    <h3 class="post-subtitle">Many say exploration is part of our destiny, but it’s actually our duty to future generations.</h3>
                </a>
                <p class="post-meta">
                    Posted by
                    <a href="#!">Start Bootstrap</a>
                    on July 8, 2022
                </p>
            </div>
            <!-- Divider-->
            <hr class="my-4" />
            <!-- Pager-->
            <div class="d-flex justify-content-end mb-4"><a class="btn btn-primary text-uppercase" href="#!">Older Posts →</a></div>
        </div>
    </div>
</div>