@model IEnumerable<Portfolio.Core.Domain.Post>

@{
    ViewBag.Title = "JK Volta";
    ViewBag.Description = "Särtsu täis jalgpalli klubi";
    ViewBag.Keywords = "jalgpall, sport, noored";

}

 <h2>Home</h2>

 <img src="~/content/static/pexels-huy-phan-1383775.jpg" width="500px"/>

 <div>
     @foreach(var post in Model)
     {
         <li>
             <a asp-controller="Home" asp-action="Post" asp-route-id="@post.Id">
                 @post.Title
             </a> -
            <a asp-controller="Home" asp-action="Edit" asp-route-id="@post.Id">
               Edit
            </a> -
            <a asp-controller="Home" asp-action="Remove" asp-route-id="@post.Id">
                Remove
            </a>
         </li>
     }
 </div>