@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Jalgpallitreengiutega Liitumine</h1>
<h1>Esimene Treening</h1>



<h1>Klubi Liitumine</h1>
<iframe src="https://app.sportlyzer.com/application/m37I5/embed?lang=est" width="100%" height="800px" frameborder="0" style="border:1px solid #ccc;"></iframe>